@font-face {
    font-family: 'Solitreo';
    src: url(fonts/Solitreo-Regular.ttf);
}
body{
    overflow-y:scroll;
    overflow-x: hidden;
}
.footer,.analyze,.about2,.about,.navbar{
    background-color: #0d100e;
    /* background-color: #101311; */
    color: white;
}
.hero{
    background-image: url(images/image\ 2.png);
    background-size: cover;
    background-color: #0d100e;
    color: white;
}
#button{
    background-color: #D3FFCA;
    color: black;
    box-shadow: rgb(33, 33, 33) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 0px inset;
}